<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}">ASM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/ab/' %}active{% endif %}" href="{% url 'abt' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/ct/' %}active{% endif %}" href="{% url 'cnt' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/reg/' %}active{% endif %}" href="{% url 'rg' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/lgo/' %}active{% endif %}" href="{% url 'lg' %}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}">Home</a>
      </li>
      {% if request.user.role_type == 1 %}
      {% if request.user.studentprofile.sstatus == 1%}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/stlist/' %}active{% endif %}" href="{% url 'stas' %}">View Assignments</a>
      </li>
      {% else %}
      {% endif %}
      {% elif request.user.role_type == 2 %}
      {% if request.user.teacherprofile.tstatus == 1 %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tasgn/' %}active{% endif %}" href="{% url 'taslist' %}">Assignments</a>
      </li>
      {% endif %}
      {% else%}
      {% endif %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/pfe/' %}active{% endif %}" href="{% url 'pf' %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == 'lgot' %}active{% endif %}" href="{% url 'lgto' %}">Logout</a>
      </li>
      {% endif %}    
    </ul>
  </div>  
</nav>