<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}">ASM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/ab/' %}active{% endif %}" href="{% url 'abt' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/ct/' %}active{% endif %}" href="{% url 'cnt' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/reg/' %}active{% endif %}" href="{% url 'rg' %}">Register</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'hm' %}">Home</a>
      </li>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/adlist/' %}active{% endif %}" href="{% url 'adls' %}">Role</a>
      </li>
      {% endif %}
      {% if request.user.role_type == 1 %}
      {% if request.user.studentprofile.sstatus == 1%}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/stlist/' %}active{% endif %}" href="{% url 'stas' %}">View Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/ssblst/' %}active{% endif %}" href="{% url 'ssblt' %}">Status</a>
      </li>
      {% else %}
      {% endif %}
      {% elif request.user.role_type == 2 %}
      {% if request.user.teacherprofile.tstatus == 1 %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tasgn/' %}active{% endif %}" href="{% url 'taslist' %}">Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/tst/' %}active{% endif %}" href="{% url 'tstp' %}">Status</a>
      </li>
      {% endif %}
      {% else %}
      {% endif %}
      {% endif %}    
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right: 120px">
    {% if user.is_authenticated %}
    <div class="dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
    Welcome {{request.user.username}} <img src="{{request.user.upfe.url}}" class="rounded-circle" height="25px" width="25px">
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item {% if request.path == '/pfe/' %}active{% endif %}" href="{% url 'pf' %}">Profile</a>
      <a class="dropdown-item {% if request.path == '/chgepwd/' %}active{% endif %}" href="{% url 'chgpw' %}">ChangePassword</a>
      <a class="dropdown-item {% if request.path == 'lgot' %}active{% endif %}" href="{% url 'lgto' %}">Logout</a>
    </div>
    </div>
    {% else %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/lgo/' %}active{% endif %}" href="{% url 'lg' %}">Login</a>
    </li>
    {% endif %}
  </ul>
  </div>  
</nav>