{% extends 'html/base.html' %}
{% block title %}Profile::
	{% if request.user.role_type == 0 %}
	Guest
	{% elif request.user.role_type == 1 %}
	Student
	{% else %}
	Teacher
	{% endif %}
{% endblock %}
{% block content %}
{% if messages %}
	{% for i in messages %}
		<div class="alert alert-{{i.tags}} alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{i}}
			</div>
	{% endfor %}
{% endif %}
<div class="row my-2">
	<div class="card col-md-2 col-sm-6 shadow-lg border border-warning mx-2 h-100 my-2">
		<img src="{{request.user.upfe.url}}" height="150px" width="100%" class="rounded-circle">
		<h5 class="text-center">{{request.user.username}}</h5>
	</div>
	<div class="card col-md shadow-lg border border-info h-100">
		<h4>{{request.user.eid}} Details</h4>
		<table>
			<tr>
				<td>First Name</td>
				<td>{{request.user.first_name}}</td>
				<td>Last Name</td>
				<td>{{request.user.last_name}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{request.user.email}}</td>
				<td>Account Status</td>
				<td>
					{% if request.user.is_active == 1 %}
					<h5 class="badge badge-success">Active</h5>
					{% else %}
					<span class="badge badge-danger">InActive</span>
					{% endif %}
				</td>
				<td>Role Type</td>
				<td>
					{% if request.user.role_type == 0 %}
					<h4 class="badge badge-warning">Guest</h4>
					{% elif request.user.role_type == 1 %}
					<h4 class="badge badge-info">Student</h4>
					{% else %}
					<h4 class="badge badge-success">Teacher</h4>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Account Created</td>
				<td>{{request.user.date_joined}}</td>
				<td>Last Login</td>
				<td>{{request.user.last_login}}</td>
			</tr>
			{% if request.user.role_type == 2 %}
				{% if request.user.teacherprofile.tstatus == 1 %}
				<tr>
					<td>Age: </td>
					<td>{{request.user.teacherprofile.tage}}</td>
					<td>Gender: </td>
					<td>{{request.user.teacherprofile.tgr}}</td>
				</tr>
				<tr>
					<td>Branch: </td>
					<td>{{request.user.teacherprofile.tbranch}}</td>
					<td>Subject: </td>
					<td>{{request.user.teacherprofile.tsubject}}</td>
				</tr>
				<tr>
					<td>Experience: </td>
					<td>{{request.user.teacherprofile.texpr}}</td>
					<td>Designation: </td>
					<td>{{request.user.teacherprofile.tdesg}}</td>
				</tr>
				{% endif %}
			{% elif request.user.role_type == 1 %}
				{% if request.user.studentprofile.sstatus == 1 %}
				<tr>
					<td>Age: </td>
					<td>{{request.user.studentprofile.stage}}</td>
					<td>Gender: </td>
					<td>{{request.user.studentprofile.sgr}}</td>
				</tr>
				<tr>
					<td>Branch: </td>
					<td>{{request.user.studentprofile.sbranch}}</td>
					<td>Year: </td>
					<td>{{request.user.studentprofile.syear}}</td>
				</tr>
				{% endif %}
			{% else %}
			{% endif %}
		</table>
		<a href="{% url 'upfe' %}" class="btn btn-secondary my-2">Update Profile</a>
	</div>
</div>
{% endblock %}