{% extends 'html/base.html' %}
{% block title %}Marks Update{% endblock %}
{% block content %}
<div class="card col-md-5 shadow-lg mx-auto">
	 <div class="card-body">
	 	<h3>Update</h3>
	 	<form method="post">
	 		{% csrf_token %}
	 		{% for i in m %}
	 			{{i}}
	 		{% endfor %}
	 		<div class="row">
	 			<div class="col">
	 				<a href="{% url 'tstp' %}" class="btn btn-secondary form-control">Back</a>
	 			</div>
	 			<div class="col">
	 				<input type="submit" value="Update" class="btn btn-success form-control">
	 			</div>
	 		</div>
	 	</form>
	 </div>
</div>
{% endblock %}