{% extends 'html/base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="card col-md-6 mx-auto shadow-lg">
    <!-- Message -->
    {% if messages %}
     {% for i in messages %}
      <div class="alert alert-{{i.tags}} alert-dismissible mt-2">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{i}}
      </div>
      {% endfor %}
      {% endif %}
    <!-- end message -->
    <div class="card-body">
      <h4>Contact </h4>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="em" class="form-control my-2" placeholder="Enter email">
        <input type="text" name="sb" class="form-control my-2" placeholder="Enter Subject">
        <textarea class="form-control my-2" name="des" placeholder="Enter Message Here" rows="5"></textarea>
        <input type="submit" value="Send Email" class="btn btn-success form-control">
      </form>
    </div>
  </div>
</div>
{% endblock %}