<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hme' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'abtt' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ct' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rg' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lg' %}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'stdtls' %}">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgt' %}">Logout</a>
      </li>
      {% endif %}  
    </ul>
  </div>  
</nav>